.MovieList {
  display: grid;
  max-width: calc(100vw - 28px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.Container {
  padding: 80px 15px;
  width: 1400px;
  margin: 0 auto;
}
